<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <%- include('./partials/bs'); %>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    iframe {
      width: 70vw;
      height: 70vh;
      border: 0;
    }
  </style>
  <body>
    <div class="container">
      <iframe
        src="<%= src %>"
        frameborder="0"
        allowfullscreen="allowfullscreen"
        webkitallowfullscreen
        mozallowfullscreen
        oallowfullscreen
        msallowfullscreen
      >
      </iframe>
      <div class="container">
        <a class="btn btn-warning mt-5" href="/film">Back To Search</a>
      </div>
    </div>
  </body>
</html>
